<!DOCTYPE html>
<html>

<head>
    <title>House Price Prediction</title>
    <style>
        form {
            margin: auto;
            width: 35%;
        }

        .result {
            margin: auto;
            width: 35%;
            border: 1px solid #ccc;
        }
    </style>
</head>

<body>
    <form action="{{ url_for('main') }}" method="POST">
        <fieldset>
            <legend>Input values:</legend>
            Bedroom(s):
            <input name="bedrooms" type="number" required min="1" max="9">
            <br>
            <br> Bathroom(s):
            <input name="bathrooms" type="number" required min="1" max="3.5" step="0.5">
            <br>
            <br> SQFT Living:
            <input name="sqft_living" type="number" required min="370" max="4960" step="10">
            <br>
            <br> Year Built:
            <input name="yr_built" type="number" required min="1900" max="2014" step="1">
            <br>
            <input type="submit">
        </fieldset>
    </form>
    <br>
    <div class="result" align="center">
        {% if result %}
        {% for variable, value in original_input.items() %}
        <b>{{ variable }}</b> : {{ value }}
        {% endfor %}
        <br> Predicted House Price:
        <p style="font-size:50px">${{ result|round }}</p>
        {% endif %}
    </div>
</body>

</html>