<!DOCTYPE html>
<html>

<head>
    <title>House Price in Washington, USA</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/style.css" rel="stylesheet" type="text/css" media="screen, projection"/>
</head>

<body>

    <header id="head1">
        <div id="titlepage">
            <h1>House Price in Washington, USA</h1>
        </div>
    </header>
    <br>
    <form action="{{ url_for('main') }}" method="POST">
        <fieldset>
            <legend>Input values:</legend>
            Bedroom(s):
            <input name="bedrooms" type="number" required min="1" max="9">
            <br>
            <br> Bathroom(s):
            <input name="bathrooms" type="number" required min="1" max="3.5" step="0.5">
            <br>
            <br> SQFT Living:
            <input name="sqft_living" type="number" required min="370" max="4960" step="10">
            <br>
            <br> Year Built:
            <input name="yr_built" type="number" required min="1900" max="2014" step="1">
            <br>
            <input type="submit">
        </fieldset>
    </form>
    <br>
    <div class="result" align="center">
        {% if result %}
        {% for variable, value in original_input.items() %}
        <b>{{ variable }}</b> : {{ value }}
        {% endfor %}
        <br> Predicted House Price:
        <p style="font-size:50px">${{ result|round }}</p>
        {% endif %}
    </div>

    <br />
    <div>

        <h2 id="auth"> Authours </h2>
        <div class = "row">
            <div class="col-md-6">
                <p>Shayla Hong</p>
            </div>
            <div class="col-md-6">
                <p> Amey Kolangade </p>
              </div>
            </div>
            <p> Kelvin Fu </p>
    </div>
    <br>
    <div>
        <a href="https://github.com/shaylahong/P4" id="link">View Project on Github</a>
        </div>
</body>

</html>